.container {
  max-width: 70%;
  height: 99%;
  position: relative;
  margin: 15px auto;
}
h1 {
  color: #014901;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

label {
  text-transform: uppercase;
}

img {
  float: left;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}
.aside {
  margin-left: 165px;
}
