@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

*   {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    background: #3b1a7c
}

header{
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background: #0c0929;
    min-height: 12vh;
    padding: 10px;
    color: white;
}
.App-logo{
width:60px;
height:50px;
}






