* {
  box-sizing: border-box;
  margin: 0;
}


body, html {
  /* height: 100%;
  background: url('./resources/images/court_blueTint.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  filter: blur(3px);
  background-position: center; */
}

.App {

}



.App-header {
   /* background-color: #000000;
  min-height: 20vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white; 
  filter: none; */
}

.App-link {
  color: #61dafb;
}


